screening/composites/webcomp/src/main/resources/wsdl/demoElvis/CentralBookingWS_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CentralBookingWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICentralBookingWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="CentralBookingWS.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="CentralBookingWS_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
      <xsd:import schemaLocation="CentralBookingWS_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="CentralBookingWS_1.xsd" namespace="http://schemas.datacontract.org/2004/07/WCFCentralBookingWS"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentralBookingWS_GetBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooking"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBooking_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:ICFault" xmlns:q1="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingPlace"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingPlaceResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingPlace_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ICFault" xmlns:q2="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetCalandar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalandar"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetCalandar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalandarResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetCalandar_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:ICFault" xmlns:q3="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingTime"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_GetBookingTime_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:ICFault" xmlns:q4="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_CancelBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBooking"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_CancelBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_CancelBooking_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q5:ICFault" xmlns:q5="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_ConfirmBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBooking"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_ConfirmBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICentralBookingWS_ConfirmBooking_ICFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q6:ICFault" xmlns:q6="http://schemas.datacontract.org/2004/07/IC.Framework.WCFCommonTypes"/>
  </wsdl:message>
  <wsdl:portType name="ICentralBookingWS">
    <wsdl:operation name="GetBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBooking" message="tns:ICentralBookingWS_GetBooking_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingResponse" message="tns:ICentralBookingWS_GetBooking_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_GetBooking_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetBookingPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingPlace" message="tns:ICentralBookingWS_GetBookingPlace_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingPlaceResponse" message="tns:ICentralBookingWS_GetBookingPlace_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingPlaceICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_GetBookingPlace_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCalandar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/GetCalandar" message="tns:ICentralBookingWS_GetCalandar_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/GetCalandarResponse" message="tns:ICentralBookingWS_GetCalandar_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/GetCalandarICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_GetCalandar_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetBookingTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingTime" message="tns:ICentralBookingWS_GetBookingTime_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingTimeResponse" message="tns:ICentralBookingWS_GetBookingTime_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/GetBookingTimeICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_GetBookingTime_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/CancelBooking" message="tns:ICentralBookingWS_CancelBooking_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/CancelBookingResponse" message="tns:ICentralBookingWS_CancelBooking_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/CancelBookingICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_CancelBooking_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralBookingWS/ConfirmBooking" message="tns:ICentralBookingWS_ConfirmBooking_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralBookingWS/ConfirmBookingResponse" message="tns:ICentralBookingWS_ConfirmBooking_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/ICentralBookingWS/ConfirmBookingICFaultFault" name="ICFaultFault" message="tns:ICentralBookingWS_ConfirmBooking_ICFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICentralBookingWS" type="tns:ICentralBookingWS">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICentralBookingWS_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBooking">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/GetBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookingPlace">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/GetBookingPlace" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCalandar">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/GetCalandar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookingTime">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/GetBookingTime" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/CancelBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <soap:operation soapAction="http://tempuri.org/ICentralBookingWS/ConfirmBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICFaultFault">
        <soap:fault name="ICFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralBookingWS">
    <wsdl:port name="BasicHttpBinding_ICentralBookingWS" binding="tns:BasicHttpBinding_ICentralBookingWS">
     <!--  <soap:address location="https://demo.insieme.se/IC/CentralBooking/CentralBookingWS/CentralBookingWS.svc"/>  -->
      <soap:address location="http://demo.insieme.se/CentralBookingWS/CentralBookingWS.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>