mammografi/screening/composites/webcomp/src/main/resources/wsdl/mockSectra/ServiceOriginal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RISReschedule" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="Service0.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="Service2.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
      <xsd:import schemaLocation="Service1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="Service3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRisReschedule_GetBookingInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingInfo"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_GetBookingInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_GetBookingInfo_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q1:ErrorInfo" xmlns:q1="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_GetBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookings"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_GetBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_GetBookings_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ErrorInfo" xmlns:q2="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListSections_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSections"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListSections_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListSections_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q3:ErrorInfo" xmlns:q3="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFreeTimes"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFreeTimesResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeTimes_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q4:ErrorInfo" xmlns:q4="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeDays_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFreeDays"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFreeDaysResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_ListFreeDays_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q5:ErrorInfo" xmlns:q5="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_Reschedule_InputMessage">
    <wsdl:part name="parameters" element="tns:Reschedule"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_Reschedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:RescheduleResponse"/>
  </wsdl:message>
  <wsdl:message name="IRisReschedule_Reschedule_ErrorInfoFault_FaultMessage">
    <wsdl:part name="detail" element="q6:ErrorInfo" xmlns:q6="http://schemas.datacontract.org/2004/07/"/>
  </wsdl:message>
  <wsdl:portType name="IRisReschedule">
    <wsdl:operation name="GetBookingInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/GetBookingInfo" message="tns:IRisReschedule_GetBookingInfo_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/GetBookingInfoResponse" message="tns:IRisReschedule_GetBookingInfo_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/GetBookingInfoErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_GetBookingInfo_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/GetBookings" message="tns:IRisReschedule_GetBookings_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/GetBookingsResponse" message="tns:IRisReschedule_GetBookings_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/GetBookingsErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_GetBookings_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListSections">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/ListSections" message="tns:IRisReschedule_ListSections_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/ListSectionsResponse" message="tns:IRisReschedule_ListSections_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/ListSectionsErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_ListSections_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListFreeTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeTimes" message="tns:IRisReschedule_ListFreeTimes_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeTimesResponse" message="tns:IRisReschedule_ListFreeTimes_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeTimesErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_ListFreeTimes_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListFreeDays">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeDays" message="tns:IRisReschedule_ListFreeDays_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeDaysResponse" message="tns:IRisReschedule_ListFreeDays_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/ListFreeDaysErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_ListFreeDays_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Reschedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisReschedule/Reschedule" message="tns:IRisReschedule_Reschedule_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IRisReschedule/RescheduleResponse" message="tns:IRisReschedule_Reschedule_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IRisReschedule/RescheduleErrorInfoFault" name="ErrorInfoFault" message="tns:IRisReschedule_Reschedule_ErrorInfoFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Test" type="tns:IRisReschedule">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBookingInfo">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/GetBookingInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/GetBookings" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSections">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/ListSections" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListFreeTimes">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/ListFreeTimes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListFreeDays">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/ListFreeDays" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Reschedule">
      <soap:operation soapAction="http://tempuri.org/IRisReschedule/Reschedule" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoFault">
        <soap:fault name="ErrorInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RISReschedule">
    <wsdl:port name="Test" binding="tns:Test">
      <soap:address location="http://localhost:1540/MainService/Service.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
